{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(168, 108, 84);
}

main {
    background-color: rgb(234, 243, 243);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}